.experiencias__img{
    width: 100%;
    height: 144px;
}

.experiencias__img1{
    background-image: url(../img/captura\ encriptador.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 144px;
}

.experiencias__img2{
    background-image: url(../img/captura\ lista\ de\ tareas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 144px;
}

.experiencias__img3{
    background-image: url(../img/captura\ juego\ Ahorcado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 144px;
}